*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

:root{
    --light: #EFF5F5;
    --medium: #D6E4E5;
    --dark: #222f30;
    --warm: #EB6440;
}

.hide{
    display: none;
}

.header{
    height: 4rem;
    display: block;
    position: fixed;
    left: 2rem;
    top: 2.25rem;
    width: 45%;
    z-index: 100;
}

.header ul{
    display: flex;
    list-style: none;
    position: relative;
    left: 0.75rem;
    top: 0;
}

.header ul li{
    padding-right: 2.25rem;
    
}

.header ul li a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 400;
    font-size: 0.75rem;
    transition: 0.3s;
    text-transform: uppercase;
}

.header ul li a:hover{
    text-shadow: 0 0 0 #2E3436;
}

.front-page{
    background-image: linear-gradient(rgb(21, 21, 49, 0.5), rgb(21, 21, 49,  0.5)), url(pics/pinetree.jpg);
    background-size: cover;
    background-position: 20vw -20vh;
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container-skewed-left{
    width: 30vw;
    height: 100vh;
    background-color: var(--light);
}

.container-skewed-left::before{
    content: '';
    position: absolute;
    left: 10vw;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background-color: var(--light);
    width: 40%;
    height: 140%;
}

#name{
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.25rem;
    position: absolute;
    left: 2.75rem;
    bottom: 2.25rem;
    transition: 0.6s;
    cursor: pointer;
    z-index: 20;
}

#name:hover{
    left: 3.75rem !important;
}

#name::after{
    position: absolute;
    width: 0%;
    content: '';
    background-color: #EB6440;
    height: 0.25rem;
    left: 0;
    bottom: -0.25rem;
    transition: 0.6s;
}

#name:hover::after{
    width: 100%;
}

#about-container{
    width: 25rem;
    height: 0;
    background-color: var(--warm);
    position: absolute;
    left: 2.75rem;
    bottom: 2rem;
    transition: 0.6s;
}

#about-container::before{
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    content: "\201C";
    color: var(--light);
    font-size: 10rem;
    font-family: Georgia, Times, serif;
    font-weight: 700;
}

#about-container p{
    position: relative;
    top: 5.75rem;
    left: 3rem;
    width: 21rem;
    color: var(--light);
    font-size: 1.1rem;
    max-height: 5ch;
}

.projects{
    background-color: var(--dark);
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
}